/build/
/.classpath
/.project
/bin/
/.settings/
/.metadata/
RemoteSystemsTempFiles/.project
WebContent/WEB-INF/modeles/modele.xhtml
src/beans/LoginBeanProjet.java
src/metier/Dao.java
WebContent/accueiletudiant.xhtml
